<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
    <%- include('partials/header') %>

  <h1>Register</h1>

  <% if (errors) { %>
    <ul class="errors">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/register" method="POST">
    <label>Email:</label>
    <input type="text" name="username" value="<%= userInput?.username || '' %>" required>
    <br>

    <label>Password:</label>
    <input type="password" name="password" required>
    <br>

    <label>Verify Password:</label>
    <input type="password" name="verifyPassword" required>
    <br>

    <label>First Name:</label>
    <input type="text" name="firstName" value="<%= userInput?.firstName || '' %>" required>
    <br>

    <label>Last Name:</label>
    <input type="text" name="lastName" value="<%= userInput?.lastName || '' %>" required>
    <br>

    <label>Avatar URL (optional):</label>
    <input type="text" name="avatarURL" value="<%= userInput?.avatarURL || '' %>">
    <br>

    <button type="submit">Register</button>
  </form>

  <p>Already have an account? <a href="/">Login here</a></p>
</body>
</html>
